page-locateplacetobook {
    $popover-ios-width: 800px;
    $primary-color: red;

    background-color: $primary-color;

    $popover-ios-background: red;
}

map {
    //border: red dashed 2px;
    margin-top:10%;
    width:100%;
    height:400px;  //100% du parent qui est à zero-> ne marche pas !
    display: block;
}

.popover-md .popover-content {
    width: 90%; 
    height: 65%;
}

