page-locateplacetobook {
    $popover-ios-width: 800px;
    $primary-color: red;

    background-color: $primary-color;

    $popover-ios-background: red;

    // height: 800px
    .scroll-content {
    //display: table;
    //idth: 600px;
    //height: 300px;
    }
}

map {
    //border: red dashed 2px;
    width:100%;
    height:400px;  //100% du parent qui est a zero-> marche pas
    display: block;
}

.popover-md .popover-content {
    width: 90%; //90%; //350px;
    height: 60% //70%; //500px;
}

