
<ion-header>
    <header-content class="header-trt" title="Réservation" ></header-content> 
</ion-header>
  
<ion-content>
  <h6 class="decale">Vos réservations de places de parking</h6>
 
       <!-- {{ this.dispos | async  | json  }}   --> 
       <!-- <ul>
          <li *ngFor="let item of dispos  ">
            {{ item | json  }}
          </li>  
       </ul>  -->

     <ion-grid>
   
        <!--  Entête de la liste  -->
        <ion-row>
     
           <ion-col width-25 ion-left>
                <ion-label >Date</ion-label>   <!-- fixed stacked -->  
           </ion-col>
           <ion-col width-33 ion-left>
                <ion-label >Debut/Fin </ion-label>
           </ion-col>
           <ion-col width-40 ion-left>
                <ion-label >Localisation</ion-label>
           </ion-col>
           <ion-col width-10>
                <ion-label ></ion-label>       
           </ion-col>   
        </ion-row>

        <ion-row *ngFor="let locateBook of locateBooks">       
              <ion-col width-25>
                  <ion-label ion-datetime >{{locateBook?.dateDebDispo | date: 'dd.MM.yyyy'}}</ion-label>  
                  <ion-label ion-datetime >{{locateBook?.dateFinDispo | date: 'dd.MM.yyyy'}}</ion-label>            
              </ion-col>
              <ion-col width-33>           
                  <ion-label ion-datetime >de {{locateBook?.dateDebDispo | date: 'HH.mm'}} heure</ion-label>    
                  <ion-label ion-datetime >a &nbsp; {{locateBook?.dateFinDispo | date: 'HH.mm'}} heure</ion-label>          
              </ion-col>
              <ion-col width-40 >  
                 <ion-label>{{ locateBook?.adresse }}</ion-label>  
              </ion-col> 

              <ion-col width-10>
              <!--      <ion-icon name="trash" outline color="danger" class="iconSizeFormat" (click)="deleteDispo(dispo.$key)"  id="dispoDel" onSubmit="document.getElementById('dispoDel').disabled=true;"></ion-icon> -->
            </ion-col>
        </ion-row> 

        <ion-item *ngIf="error" class="signup_error">
            {{error}}
        </ion-item>

     </ion-grid>
   
</ion-content>
