page-dispotobook {

}

.header-trt {
  background : darkred;
  color : darkred;
}

/*   */
.iconTrashFormat { 
  font-size: 30px;
  margin: 10px 15px;
}

.notice {
 /* background: red; */
  color: red;
  position: relative;
  left: 15px;
}


