page-addplaceparking {

}

.notice {
 /* background: red; */
  color: red;
  position: relative;
  left: 15px;
}

.icon {
   font-size: 150px;
}
.iconFormat {
 /* background: red; */
  color: dark;
 // position: relative;
 
  font-size: 50px;
  margin: 10px 15px;
}



