page-addplaceparking {

}

/* icon geocode */
.iconGeoCodeFormat {
  color: dark;
 
  font-size: 50px;
  margin: 10px 15px;
}

img {
  height:100px;
  width:100px;
}

.formatImg {
  font-size: 11px;
  border:2px;

//  margin: 1px 1px;
  margin-left: 15px;
}



