page-addplaceparking {

.header-trt {
  background : darkred;
  color : darkred;
}

}
.header-trt {
  background : darkred;
  color : darkred;
}

/* class validator   */
.notice {
  color: red;
  position: relative;
  left: 15px;
}

/* icon geocode */
/*.icon {
   font-size: 150px; 
} */

.iconGeoCodeFormat {
 /* background: red; */
  color: dark;
 
  font-size: 50px;
  margin: 10px 15px;
}



