
<ion-header>
   <header-content  class="header-trt" title="Place de Parking"></header-content>
</ion-header>
  
<ion-content>
  <h6 class="decale">Mettre en location une place de parking</h6>
  
  <!--  {{ items | async  | json  }}  -->

  <!-- <ul>
    <li *ngFor="let item of items | async">
       {{ item.adresse | json }}
    </li>
  </ul>   -->

  <ion-grid>
    
     <form [formGroup]="myForm" (ngSubmit)="onSubmit()">  
        <ion-row >
           <ion-col width-100>        
                <ion-item>
                    <ion-label floating>Adresse</ion-label>   <!-- fixed stacked -->
                    <ion-input type="text" formControlName="adresse" [(ngModel)]="this.place.adresse"></ion-input>  
                </ion-item>  
                <small  class="notice" [hidden]="myForm.controls.adresse.valid || (myForm.controls.adresse.pristine)"> <!-- && !submitted)"> --> 
                    L'adresse est requise. (minimum 5 characters).
                </small>   
           </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col width-50>
             <ion-item>
                <ion-label floating>Ville</ion-label>
                <ion-input type="text" formControlName="ville" [(ngModel)]="this.place.ville"></ion-input>      
             </ion-item>
              <small  class="notice" [hidden]="myForm.controls.ville.valid || (myForm.controls.ville.pristine)"> <!-- && !submitted)"> --> 
                   La ville est requise.
              </small>            
          </ion-col>

          <ion-col width-50>
             <ion-item>
                <ion-label floating>No Postal</ion-label>
                <ion-input type="text" formControlName="noPostal" [(ngModel)]="this.place.noPostal"></ion-input>
             </ion-item>
             <small class="notice" [hidden]="myForm.controls.noPostal.valid || (myForm.controls.noPostal.pristine)"> <!-- && !submitted)"> --> 
                  Le no postal est requis.
             </small>
           </ion-col>
        </ion-row>

        <ion-row>
           <ion-col width-30>
               <!-- <button ion-button  ion-icon name="ios-locate-outline" outline round  color="dark" (click)= "getGeocode()">  -->
                   <ion-icon color="secondary" name="ios-locate-outline" class="iconGeoCodeFormat" (click)= "getGeocode()"></ion-icon>
           </ion-col> 
            
           <ion-col width-40>
             <ion-item>
                <ion-label floating>Latitude</ion-label>
                <ion-input type="text" formControlName="latitude" [(ngModel)]="this.place.latitude"></ion-input>  
             </ion-item>
             <small  class="notice" [hidden]="myForm.controls.latitude.valid || (myForm.controls.latitude.pristine)"> <!-- && !submitted)"> --> 
                  Le coordonnée latitude est requise.
             </small> 
           </ion-col> 

           <ion-col width-40>
             <ion-item>
                <ion-label floating>Longitude</ion-label>
                <ion-input type="text" formControlName="longitude" [(ngModel)]="this.place.longitude"></ion-input> 
             </ion-item>
             <small class="notice" [hidden]="myForm.controls.longitude.valid || (myForm.controls.longitude.pristine)"> <!-- && !submitted)"> --> 
                  Le coordonnée longitude est requise.
             </small> 
           </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50>
             <ion-item>
                <ion-label floating>Prix de la place</ion-label>  <!--| currency:'USD':true:'1.2-2'  ne marche pas-->
                <ion-input type="text" formControlName="prixPlace" [(ngModel)]="this.place.prixPlace"></ion-input>      
             </ion-item>
              <small  class="notice" [hidden]="myForm.controls.prixPlace.valid || (myForm.controls.prixPlace.pristine)"> <!-- && !submitted)"> --> 
                   Le prix de la place est requis.
              </small>          
          </ion-col>

          <ion-col width-50>
             <ion-item>
                <ion-label floating>No Place</ion-label>   
                <ion-input type="text" formControlName="noPlace" [(ngModel)]="this.place.noPlace"></ion-input>
             </ion-item>      
           </ion-col>
        </ion-row>
        
        <ion-row>
        <!--   <ion-col left width-50>
              <button ion-button round small  color="secondary" icon-left color="dark"  (click)="getPicture()">
                  <ion-icon name='camera' is-active="false"></ion-icon>
                  <span>Photo</span>
              </button>
           </ion-col>  -->
   
           <ion-col right width-50>
               <button ion-button class="formatImg" round small icon-left color="dark" (click)="getPicture()">
                   <ion-icon name='camera' is-active="false"></ion-icon>    
               </button>
               <ion-card>   
                   <ion-card-header class="formatImg">
                      <span>Vue Place</span>
                   </ion-card-header>
                   <img [src]="base64Image" *ngIf="base64Image" />
               </ion-card>

                 <button ion-button class="formatImg" round small icon-left color="dark" (click)="showPicture()">
                   show   
               </button>
           </ion-col>

           <ion-col left width-50>          
               <button ion-button round small color="secondary" id="placeupd" onSubmit="document.getElementById('placeupd').disabled=true;"
                       ng-disabled="this.myForm.valid" (click)="placeUpdate()">Enregistrer</button>
           </ion-col>
        </ion-row>  
              
    </form>

    <ion-row>
        <ion-col width-90>   
            <button ion-button round small color="secondary" (click)="manageDispo()">Gestion des disponibilités</button>
        </ion-col>
    </ion-row>

    <ion-item *ngIf="error" class="signup_error">
            {{error}}
    </ion-item>
 </ion-grid>

    <!-- <input type="text" #newname />
    <input type="text" #newplaque />
    <button (click)="addItem(newname.value, newplaque.value)">Add</button>  -->
  
</ion-content>
