<!--
  Generated template for the Addplaceparking page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <header-content  class="header-trt" title="Parking privé"></header-content> 
    <!-- <header-content backEnabled={{true}} (onBack)="onClickBack()"></header-content> -->
</ion-header>
  
<ion-content>
  <h6>Mettre en location une place de parking</h6>
  <!--  <ion-spinner></ion-spinner>  -->
  <!-- <div> {{ (af.auth | async)?.uid }} </div> -->
  
  <!--  {{ items | async  | json  }}  -->

 <!-- <ul>
    <li *ngFor="let item of items | async">
       {{ item.adresse | json }}
    </li>
  </ul>   -->

     <ion-grid>
        <!--<ion-row >
           <ion-col width-100>
             <ion-item>
                 <ion-label >{{this.fireKey}}</ion-label>    
              </ion-item>
           </ion-col>
        </ion-row>  -->
     <form [formGroup]="myForm" (ngSubmit)="onSubmit()">  
        <ion-row >
           <ion-col width-100>        
                <ion-item>
                    <ion-label floating>Adresse</ion-label>   <!-- fixed stacked -->
                    <!--<ion-input type="text" [(ngModel)]="items[0]?.adresse"></ion-input>  --> <!-- Plante ! -->
                    <ion-input type="text" formControlName="adresse" [(ngModel)]="this.place.adresse"></ion-input>  
                </ion-item>  
                <small  class="notice" [hidden]="myForm.controls.adresse.valid || (myForm.controls.adresse.pristine)"> <!-- && !submitted)"> --> 
                    L'adresse est requise. (minimum 5 characters).
                </small>   
           </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col width-50>
             <ion-item>
                <ion-label floating>Ville</ion-label>
                <ion-input type="text" formControlName="ville" [(ngModel)]="this.place.ville"></ion-input>      
             </ion-item>
              <small  class="notice" [hidden]="myForm.controls.ville.valid || (myForm.controls.ville.pristine)"> <!-- && !submitted)"> --> 
                   La ville est requise.
              </small> 
           
          </ion-col>
          <ion-col width-50>
             <ion-item>
                <ion-label floating>No Postal</ion-label>
                <ion-input type="text" formControlName="noPostal" [(ngModel)]="this.place.noPostal"></ion-input>
             </ion-item>
           <!--  <div [style.background]="#f0f0f0">   marche pas -->
             <small class="notice" [hidden]="myForm.controls.noPostal.valid || (myForm.controls.noPostal.pristine)"> <!-- && !submitted)"> --> 
                  Le no postal est requis.
             </small>
          <!--  </div>  -->
           </ion-col>
        </ion-row>

        <ion-row>
           <ion-col width-30>
               <!-- <button ion-button  ion-icon name="ios-locate-outline" outline round  color="dark" (click)= "getGeocode()">  -->
                   <ion-icon color="secondary" name="ios-locate-outline" class="iconGeoCodeFormat" (click)= "getGeocode()"></ion-icon>
           </ion-col> 
            
           <ion-col width-40>
             <ion-item>
                <ion-label floating>Latitude</ion-label>
                <ion-input type="text" formControlName="latitude" [(ngModel)]="this.place.latitude"></ion-input>  
             </ion-item>
             <small  class="notice" [hidden]="myForm.controls.latitude.valid || (myForm.controls.latitude.pristine)"> <!-- && !submitted)"> --> 
                  Le coordonnée latitude est requise.
             </small> 
           </ion-col>          
           <ion-col width-40>
             <ion-item>
                <ion-label floating>Longitude</ion-label>
                <ion-input type="text" formControlName="longitude" [(ngModel)]="this.place.longitude"></ion-input> 
             </ion-item>
             <small class="notice" [hidden]="myForm.controls.longitude.valid || (myForm.controls.longitude.pristine)"> <!-- && !submitted)"> --> 
                  Le coordonnée longitude est requise.
             </small> 
           </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50>
             <ion-item>
                <ion-label floating>Prix de la place</ion-label>
                <ion-input type="text" formControlName="prixPlace" [(ngModel)]="this.place.prixPlace"></ion-input>      
             </ion-item>
              <small  class="notice" [hidden]="myForm.controls.prixPlace.valid || (myForm.controls.prixPlace.pristine)"> <!-- && !submitted)"> --> 
                   Le prix de la place est requis.
              </small>          
          </ion-col>

          <ion-col width-50>
             <ion-item>
                <ion-label floating>No Place</ion-label>   
                <ion-input type="text" formControlName="noPlace" [(ngModel)]="this.place.noPlace"></ion-input>
             </ion-item>      
           </ion-col>
        </ion-row>
        
        <ion-row>
           <ion-col width-50>
              <button ion-button round small  color="secondary"icon-left color="dark"  (click)="getPicture()">
                  <ion-icon name='camera' is-active="false"></ion-icon>
                  <span>Photo</span>
              </button>
           </ion-col>

           <ion-col width-50>
              <ion-card>
                <img [src]="base64Image" *ngIf="base64Image" />
              </ion-card>
           </ion-col>
     </ion-row>

        <ion-row>
            <ion-col width-100>          
                <button ion-button round small color="secondary" id="placeupd" onSubmit="document.getElementById('placeupd').disabled=true;"
                        ng-disabled="this.myForm.valid" (click)="placeUpdate()">Enregistrer</button>
            
            </ion-col>
        </ion-row>             
    </form>

      <!--  <div padding>
              <button ion-button full (click)="signup()">Sign Up</button>
        </div>  -->
        <ion-row>
            <ion-col width-90>   
               <button ion-button round small color="secondary" (click)="manageDispo()">Gestion des disponibilités</button>
            </ion-col>
        </ion-row>

        <ion-item *ngIf="error" class="signup_error">
              {{error}}
        </ion-item>
    </ion-grid>

<!--<ion-content padding>   avatar  ??
  <ion-list>
    <ion-item  *ngFor="let item of items" (click)="selectItem(item.id)">
      <ion-avatar item-left>
        <img src="{{item.image}}">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.description}}</p>
    </ion-item>
  </ion-list>
</ion-content> -->

    <ul>
    <!--   <li *ngFor="let item of items | async">
        <input type="text" #updatename [value]="item.adresse" /> 
        <input type="text" #updateplaque [value]="item.ville" />
        <button (click)="updateItem(item.$key, updatename.value,  updateplaque.value)">Update</button>
        <button (click)="deleteItem(item.$key)">Delete</button>  
      </li>  -->
    </ul>
    <!-- <input type="text" #newname />
    <input type="text" #newplaque />
    <button (click)="addItem(newname.value, newplaque.value)">Add</button>  -->
  <!-- <button (click)="deleteEverything()">Delete All</button>  -->


    <div>
   <!--   <h4>Filter by uid</h4>
      <button (click)="filterBy('hJWnojzr2tcPrkpX47znLhvtopB2')">hJWnojzr2tcPrkpX47znLhvtopB2</button>  -->
    </div>

   <!-- <ul>
      <li class="text" *ngFor="let item of items | async">
         {{ item | json }}
      </li>  
    </ul> -->  <!-- {{item.$value}}  {{ item | json }}-->
    <h3>{{ (item | async)?.size }}</h3>
  
</ion-content>
