page-place-info-pop {

  //  $popover-ios-width: 900px;
    $primary-color: red;

    background-color: $primary-color;

  //  $popover-ios-background: red;

    .scroll-content {
    }
}

.popover-md .popover-content {
    width: 100%; 
    height: 80%; 
}



