// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

 //header content
.toolbar-background-md {
   background: darkred;
   opacity: 0.8;
}

 // titre header content
.toolbar-title-md {
    color: white;
 }

 //tab du bas
.tab-button {
   background : darkred;
   opacity: 0.7;
}

 //icon tab et header content
.tab-button-icon {
    color: white;
 }
.bar-button-md {
    color: white;
 }
 .tab-button-text {
    color: white;
 }

ion-label {
  font-size: 1.3rem;
  font-weight: bold;
}

ion-datetime {
  font-size: 1.3rem;
  font-weight: bold;
}

ion-input {
  font-size: 1.3rem;
  //font-weight: bold;
}

 // deécallage des titres 
.decale {
  margin-left: 3%;
 // left: 3%; //15px;
}

/* class validator   */
.notice {
 /* background: red; */
  color: red;
  position: relative;
  left: 15px;
}

h6 {
  //margin-left: 3%;
  border-left: 3%;
  background: #aaa; // orange;
  opacity: 0.5;
}

